{% extends 'base.html' %}
{% load static %}

{%block content %}


<div class="banner-area banner-bg-1">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="banner">
          <h2>Features</h2>
          <ul class="page-title-link">
            <li><a href="">Home</a></li>
            <li><a href=""></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div> 

    <div class="container">
    <hr>
     <div class="section-title text-center">
                <h3>Features</h3></div>
                <hr>    
        <div class="desc2">
        <div class="service-dit">
       
          <h3>Smart Swatch Editions</h3>
          <p>Aliquam sagittis ligula et sem lacinia, ut facilisis enim sollicitudin. Proin nisi est, convallis nec purus vitae, iaculis posuere sapien. Cum sociis natoque.</p>
        </div>
        </div>
        


    


{% endblock %}