{% extends 'base.html' %}
{% load static %}



    
 {% block content %} 



 <div class="banner-area banner-bg-1">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="banner">
          <h2>Projects</h2>
          <ul class="page-title-link">
            <li><a href="">Home</a></li>
            <li><a href="">Projects</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

        <div class="container">
            <div class="section-title text-center">
                <h3>Projects</h3>
            
           
            <h4>Some of our awesome projects to mention</h4>
        </div>
        <div class="desc2">
        
        <div class="circle">1</div>
          <div class="service-dit">
         <b>      Online Pest Control Management System</h3></b>
          <p> An online app for ordering pest control products and services</p>
        </div>
</div>
</div>
        </div>




    
 {% endblock content %}